sudo: false

language: node_js

node_js:
  - 'lts/*'
dist: trusty
sudo: false
cache: yarn

script:
  - rm -rf node_modules/
  - yarn
  - yarn lint
  - yarn test:unit
  - yarn build
  - cp -r dist docker/
  - docker build -t mirrored1976/sample-vue-front docker/

after_script:
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  - docker push mirrored1976/sample-vue-front
