---
version: '2'

services:
  sample-db:
    image: mirrored1976/sample-db:latest
    container_name: sample-db
    hostname: "sample-db"
    environment:
      - MYSQL_DATABASE=sample
      - MYSQL_ROOT_USER=root
      - MYSQL_ROOT_PASSWORD=passw0rd
      - TZ=Japan
    networks:
      - link
    ports:
      - "13306:3306"

  sample-api:
    image: mirrored1976/sample-api:latest
    container_name: sample-api
    hostname: "sample-api"
    networks:
      - link
    ports:
      - "18081:18081"
    command: java -Dspring.datasource.url=jdbc:mysql://sample-db:3306/sample?useSSL=false&characterEncoding=UTF-8 -jar /sample-web-admin.jar
    depends_on:
      - sample-db

  sample-vue-front:
    image: mirrored1976/sample-vue-front:latest
    container_name: sample-vue-front
    hostname: "sample-vue-front"
    networks:
      - link
    ports:
      - "8080:80"
    environment:
      - API_HOST=sample-api
      - API_PORT=18081
    command: /bin/ash -c "envsubst '$$API_HOST $$API_PORT' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    depends_on:
      - sample-api

networks:
  link:
    driver: bridge